<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>
<meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>Verified!!!</title>

<style type="text/css">
.container-pad {
padding: 10px 5px 15px 10px;
}
.email-content {
padding: 10px 5px 15px 10px;
margin-left: 40px;
margin-right: 40px;
background-color: lightgray;
border-style: solid;
border-color:blue;
border-width: 1px;
}
</style>
</head>
<body style="background-color: white; font-family: Open Sans; color: rgb(0, 0, 0);" alink="#000099" link="#000099" vlink="#990099">
<div style="text-align: center; font-weight: bold; color: rgb(0, 0, 153);"><big><big><big><big><span style="color: rgb(51, 102, 255);">Blu</span>Core</big></big></big></big></div>
<div class="container-pad">
<p>Hello {{toFriendly}}:</p>
<p>We know you (or at least think that we do !)</p>
We also think that
you have asked for a password reset. &nbsp;Perhaps you have
forgotten
us, or perhaps you threw out that piece of paper that you had the
password written down on. &nbsp;No worries - we have you covered.<br>
<br>
And
if you did not ask for a password reset, simply ignore this email,
secure in the knowledge that whoever it was won't be able to get in and
steal your volunteer hours, because they don't have this email !
<p>Please click on <a href="{{{validationLink}}}">this
link</a>,
or paste the following link ({{validationLink}}) into your browser to
complete the password reset. &nbsp;
</p>
Feel free to contact your school coordinator ({{fromName}} at
{{fromEmail}}) with any questions. You should be able to do so by
simply
replying to this email.</div>
<div>
<div class="container-pad">Cheers</div>
<div style="margin-left: 40px;">
<span style="font-style: italic;">your friendly
neighborhood BluCore mailbot</span>
</div>
</div>
<div class="gwd-div-xzal"><span class="gwd-span-1st0"></span><br>
</div>
<p class="gwd-p-1sxw">
<br>
</p>
</body></html>